<!DOCTYPE html>
<html lang="en">
  <head>
    <title>FourtyFour</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="assets/favicon.svg" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="assets/css/home.css" />
    <link rel="stylesheet" href="assets/css/loginform.css">
    <script src="assets/js/home.js" defer></script>
  </head>

  <body>


   
    <header class="header">
      <nav class="header__content">
        <div class="header__buttons">

<!--light/dark-->
          <button class="header__theme-button" title="Toggle Theme">
            <svg
              class="header__theme-button-moon"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="var(--text-dark)"
              viewBox="0 0 16 16"
            >
              <path
                d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278zM4.858 1.311A7.269 7.269 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.316 7.316 0 0 0 5.205-2.162c-.337.042-.68.063-1.029.063-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286z"
              />
            </svg>
            <svg
              class="header__theme-button-sun"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="var(--text-dark)"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"
              />
            </svg>
          </button>
        </div>

        <div class="header__search">
          <input type="text" placeholder="Search" />
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M21.669 21.6543C21.8625 21.4622 21.863 21.1494 21.6703 20.9566L17.3049 16.5913C18.7912 14.9327 19.7017 12.7525 19.7017 10.3508C19.7017 5.18819 15.5135 1 10.3508 1C5.18819 1 1 5.18819 1 10.3508C1 15.5135 5.18819 19.7017 10.3508 19.7017C12.7624 19.7017 14.9475 18.7813 16.606 17.2852L20.9739 21.653C21.1657 21.8449 21.4765 21.8454 21.669 21.6543ZM1.9843 10.3508C1.9843 5.7394 5.7394 1.9843 10.3508 1.9843C14.9623 1.9843 18.7174 5.7394 18.7174 10.3508C18.7174 14.9623 14.9623 18.7174 10.3508 18.7174C5.7394 18.7174 1.9843 14.9623 1.9843 10.3508Z"
              fill="#A5A5A5"
              stroke="#A5A5A5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>

        <div class="header__buttons header__buttons--mobile">

          <a href="#">
            <ion-icon  class="libraru" name="settings-outline"></ion-icon>
          </a>
          <a href="#">
            <ion-icon  class="libraru" name="proochatbubble-ellipses-outline"></ion-icon>
          </a>
        </div>

        <div class="header__buttons header__buttons--desktop">
          <a href="#">
            <ion-icon  class="libraru" name="home-outline"></ion-icon>
          </a>
          <a href="#">
            <ion-icon  class="libraru" name="chatbubble-ellipses-outline"></ion-icon>
          </a>
          <a href="#">
            <ion-icon class="libraru" name="create-outline"></ion-icon>
          </a>
          <a href="#">
            <ion-icon class="libraru" name="settings-outline"></ion-icon>
          </a>
          <button class="profile-button">
            <div class="profile-button__border"></div>
            <div class="profile-button__picture">
              <img src="<%= pp %>" alt="User Picture" />
            </div>
          </button>
        </div>
      </nav>
    </header>

    <main class="main-container">
      <section class="content-container">
        <div class="content">
          <!--Storry Spot-->

          <div class="posts">


          </div>
        </div>

        <section class="side-menu">
          <div class="side-menu__user-profile">
            <a

              class="side-menu__user-avatar"
            >
              <img src="<%= pp %>" alt="User Picture" />
            </a>
            <div class="side-menu__user-info">
              <a href="https://github.com/leocosta1" target="_blank"
                ><%= username %></a
              >
              <span>@<%= tag %></span>
            </div>
            <button class="side-menu__user-button">Logout</button>
          </div>

          <div class="side-menu__suggestions-section">
            <div class="side-menu__suggestions-header">
              <h2>Suggestions for You</h2>
              <button>See All</button>
            </div>
            <!--USER SUGESTION-->
            <div class="side-menu__suggestions-content">
              <% suggestions.forEach(suggestion => { %>
                <div class="side-menu__suggestion">
                  <a href="#" class="side-menu__suggestion-avatar">
                    <img src="<%= suggestion.photo %>" alt="User Picture" />
                  </a>
                  <div class="side-menu__suggestion-info">
                    <a href="#"><%= suggestion.username %></a>
                    <span>@<%= suggestion.usertag %></span>
                  </div>
                  <button class="side-menu__suggestion-button">Follow</button>
                </div>
              <% }); %>
            </div>


          </div>


          <div class="side-menu__footer">
            <div class="side-menu__footer-links">
              <ul class="side-menu__footer-list">
                <li class="side-menu__footer-item">
                  <a class="side-menu__footer-link" href="#">About</a>
                </li>
                <li class="side-menu__footer-item">
                  <a class="side-menu__footer-link" href="#">Help</a>
                </li>
                <li class="side-menu__footer-item">
                  <a class="side-menu__footer-link" href="#">Press</a>
                </li>
                <li class="side-menu__footer-item">
                  <a class="side-menu__footer-link" href="#">API</a>
                </li>
                <li class="side-menu__footer-item">
                  <a class="side-menu__footer-link" href="#">Jobs</a>
                </li>
                <li class="side-menu__footer-item">
                  <a class="side-menu__footer-link" href="#">Privacy</a>
                </li>
                <li class="side-menu__footer-item">
                  <a class="side-menu__footer-link" href="#">Terms</a>
                </li>
                <li class="side-menu__footer-item">
                  <a class="side-menu__footer-link" href="#">Locations</a>
                </li>
                <li class="side-menu__footer-item">
                  <a class="side-menu__footer-link" href="#">Top Accounts</a>
                </li>
                <li class="side-menu__footer-item">
                  <a class="side-menu__footer-link" href="#">Hashtag</a>
                </li>
                <li class="side-menu__footer-item">
                  <a class="side-menu__footer-link" href="#">Language</a>
                </li>
              </ul>
            </div>


          </div>
        </section>

      </section>

    </main>

    <nav class="navbar">
      <a href="#" class="navbar__button">
        <ion-icon class="libraru" name="home"></ion-icon>
      </a>
      <a href="#" class="navbar__button">
        <ion-icon class="libraru" name="search-outline"></ion-icon>
      </a>

      <a href="#" class="navbar__button">
        <ion-icon class="libraru" name="create-outline"></ion-icon>
      </a>
      <a href="#" class="navbar__button">
        <ion-icon class="libraru" name="library-outline"></ion-icon>
      </a>
      <button class="navbar__button profile-button">
        <div class="profile-button__border"></div>
        <div class="profile-button__picture">
          <img src="<%= pp %>" alt="User Picture" />
        </div>
      </button>
    </nav>


  </body>


  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
                <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
                <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
                <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css" />
</html>